.card {
  // display: flex;
  border-radius: 2px;
  background: white;
  // padding: 15px;
  box-shadow: var(--shadow);
  //   max-width: 662px;

  @media screen and (max-width: 499px) {
    flex-direction: column;
  }

  .cardBody {
    h3 {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
