:root {
  --primary: #004ef0;
  --dashBlue: #0202c6;
  --fade: #fff4ea;
  --green: #08bd37;
  --new-blue: #1e2348;
  --heading: #333447;
  --black: #3f3e3e;
  --dark: #252525;
  --white: #fff;
  --dark-grey: #c4c4c4;
  --grey: #e5e5e5;
  --lite-grey: #f9f9f9;
  --shadow:  0px 4px 30px rgba(0, 0, 0, 0.08);
  --wrapper-max-width: 1980px;
  --wrapper-min-width: 240px;
  --full: 100%;
}
